.string-controls {
  padding-right: 5px;
  border-right: 1px solid black;
}

.string-controls__name-container {
  height: 20px;
  width: 40px;
  padding: 5px;
}

.string-controls__input {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;
}
