@import "../../scss/_colors.scss";

.tab-string {
  display: flex;
  padding-bottom: 3px;
}

.tab-string__string-name {
  width: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 5px;
}

.tab-string__string-values {
  display: flex;
}

.tab-string__string-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45px;
  flex: 0 0 auto;
  justify-content: center;
  margin-left: 5px;
}

.tab-string__input {
  max-width: 30px;
  margin-left: 5px;
}

.tab-string__remove {
  padding: 0 10px;
}

.tab-string__change-btn {
  padding: 10px;
  background: transparent;
  border: none;
}

.tab-string__clear-btn {
  margin-left: 5px;
}

.tab-string__bring-forward-btn {
  margin-left: 5px;
}