@import "../../scss/_colors.scss";

.tab-string {
  display: flex;
  padding-bottom: 3px;
}

.tab-string__string-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 10px;
  margin-right: 5px;
}

.tab-string__string-values {
  display: flex;
}

.tab-string__string-value-wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  height: 20px;
  margin-left: 5px;
}

.tab-string__string-value-wrapper--two-digits.tab-string__string-value-wrapper {
  margin-left: -1.2px;
}

.tab-string__input {
  max-width: 30px;
  margin-left: 5px;
}

.tab-string__remove {
  padding: 0 10px;
}

.tab-string__change-btn {
  min-width: 17.5px;
  padding: 0 5px;

  font-family: "Roboto", sans-serif;
  background: transparent;
  border: none;
}

.tab-string__clear-btn {
  margin-left: 5px;
}

.tab-string__bring-forward-btn {
  margin-left: 5px;
}
