.tabber {
  overflow: auto;
}

.tabber__controls {
  display: flex;
}

.tabber__string-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabber__new-column-btn {
  margin-left: 5px;
}

.tabber__copy-button {
  margin-top: 10px;
}

.tabber__clear-all-btn{
  margin-left: 5px;
}