html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;

  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

//code mirror overides
.CodeMirror {
  height: auto !important;
}

.CodeMirror-code {
  background-color: #fafafa !important;
  padding-top: 8px;
  padding-bottom: 0px;
}
