.bar {
  padding-right: 5px;
  border-right: 1px solid black;
}

.bar__string {
  display: flex;
  margin-bottom: 5px;

}

.bar__input {
  max-width: 30px;
  margin-left: 5px;
}

.bar__beat {
  text-align: center;
}
