.bar {
  padding-right: 5px;

  &:not(:last-of-type) {
    border-right: 1px solid black;
  }
}

.bar__string {
  display: flex;
}

.bar__beat {
  height: 20px;
  width: 40px;
  padding: 5px 0;

  text-align: center;
}
