.bar {
}

.bar__content {
  display: flex;
}

.bar__string {
  display: flex;
}

.bar__beat {
  height: 20px;
  width: 40px;
  padding: 5px 0;

  text-align: center;
}

.bar__remove-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
