.sheet-controls {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  & > * {
    padding-right: 20px;
  }
}

.sheet-controls__beat-input {
  max-width: 30px;
}

.sheet-controls__note-selector {
  display: inline;
}
